<div class="author">
    <h1 class="author_heading"> Hi, I am Prayash Mishra.</h1>
    <p class="author_body"> Computer Engineering Student and Web Developer</p>
</div>

<img src="/imgs/prayash.jpg" alt="prayash image" class="prayash-image" width="400" height="428">

<section class="articles">
    <h2 class="article_heading">
        Latest Posts
    </h2>
    <ul class="article-ul">

        <!-- as data is a array of document we are looping over it and referencing it through its specific key in the database with post argument with refers to one document at a time -->
        <% data.forEach(post=> { %>

            <li>
                <a href="/post/<%= post._id %>">
                    <span>
                        <%= post.title %>
                    </span>
                    <span class="article-list_date">
                        <%= post.createdAt.toDateString() %>
                    </span>
                </a>
            </li>
            <% }) %>
    </ul>
    <% if (nextPage!==null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>

        <% } %>
</section>