<div class="author">
    <h1 class="author_heading"> Hi, I am Prayash Mishra.</h1>
    <p class="author_body"> Computer Engineering Student and Web Developer</p>
</div>

<img src="/imgs/prayash.jpg" alt="prayash image"  class="prayash-image" width="400" height="428" >

<section class="articles">
    <h2 class="article_heading">
        Latest Posts
    </h2>
    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list_date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list_date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list_date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list_date">Date</span>
            </a>
        </li>
    </ul>
    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>